.tableContainer {
    overflow-x: auto;
    font-family: var(--font-text);
}

.raceTable {
    width: 100%;
    text-align: left;
    font-size: 16px;
    border-collapse: collapse;
}

.raceTable th {
    background-color: var(--color-coal);
    color: var(--color-white);
    padding: 12px 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.raceTable td {
    padding: 12px 16px;
    color: var(--color-coal);
}

.raceTable tbody tr:nth-child(even) {
    background-color: hsl(0, 0%, 95%);
}

.boldText {
    font-weight: 600;
}