.trackCard {
    min-width: 440px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    height: 320px;
    background-color: hsla(0, 0%, 95%, 0.8);
    border-radius: 12px;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    box-sizing: border-box;
    padding: 20px;

    .info {
        justify-self: start;
        align-self: stretch; 
        display: flex;
        flex-direction: column;
        height: 100%;

        .trackContainer {
            display: flex;
            height: 150px;
            width: 100%;
            display: flex;
            align-items: flex-start;
            box-sizing: border-box;
            padding-bottom: 30px;

            svg, img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }

        .eventName {
            font-size: 24px;
            font-weight: 600;
            font-family: var(--font-numbers);
            color: var(--color-black);
        }

        .location {
            font-family: var(--font-title);
            font-size: 16px;
            font-weight: 500;
            color: hsla(0, 0%, 0%, 0.65);
        }
    }

    .racingSeries {
        justify-self: end;
        align-self: start;
        max-width: 70px;
        width: auto;
        height: 15px;
        color: hsla(0, 0%, 0%, 0.65) !important;      

        & > svg path {
            fill: hsla(0, 0%, 0%, 0.65) !important;
        }  
    }

    .eventCount {
        justify-self: start;
        align-self: end;
        color: hsla(0, 0%, 0%, 0.65);
        font-family: var(--font-title);
        font-size: 20px;
        font-weight: 500;
    }

    .arrow {
        width: 32px;
        height: 32px;
        justify-self: end;
        align-self: end;
        fill: hsla(0, 0%, 0%, 0.65);
    }
}

@media screen and (max-width: 768px) {
    .trackCard {
        min-width: 300px;
        min-height: 320px;
        height: auto;
    }
}